spring-beans/src/main/resources/org/springframework/beans/factory/xml/spring-customize.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.finn-lles.com/schema/customize"
			xmlns:tns="http://www.finn-lles.com/schema/customize"
			elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>
			<![CDATA[自定义标签]]>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="customize">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="userName" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="email" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>